.star-i {
    &.yellow {
        color: rgb(238, 199, 26);
    }
    &.grey {
        color: grey;
    }
}

.percent {
    &.red {
        color: #a2212f;
    }
    &.green {
        color: #40774e;
    }
}
